@font-face {
  font-family: "VCR";
  src: url("../fonts/vcr.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Primetime";
  src: url("../fonts/primetime.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
