@use "./variables" as *;
@use "./mixins" as *;
@use "./fonts";

// ! CSS Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
}

// * Smooth scrolling and scrollbar styling
html {
  scroll-behavior: smooth;
  scrollbar-color: $orange $white;
}

main {
  background-color: $white;
}

#root {
  position: relative;
  z-index: 0;
}

// ! Image
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  font-weight: 400;
  @include fontSize(p);
  font-style: italic;
  text-transform: none;
  font-family: $font-inter;
}

// ! Links
a {
  font-family: $font-vcr;
  display: inline-block;
  color: $black;
  text-decoration: none;
}

// ! Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-pt;
  text-transform: uppercase;
  text-wrap: balance;
}

// ! Paragraphs
p {
  @include fontSize(p);
  overflow-wrap: break-word;
  text-wrap: balance;
  font-weight: 300;
  max-width: 75ch;
  font-family: $font-inter;
}

// ! Buttons
button {
  font-size: inherit;
  display: block;
  border: none;
  background-color: transparent;
  font-family: $font-vcr;
  cursor: pointer;
}

// ! Lists
ol,
ul {
  list-style: none;
}

// ! For modal overlays
.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  z-index: $z-index-maxtop;
  will-change: opacity;
}

// ! Form elements
input,
textarea {
  width: 100%;
  @include fontSize(p);
  background-color: $white;
  color: $orange;
  padding: $spacing-8;
  border: none;
  font-family: $font-inter;
  background-color: $white;
  border-bottom: $orange solid $border-xsmall;

  &::placeholder {
    color: #f07c6899;
  }
}

label,
legend {
  font-family: $font-inter;
}

input,
textarea,
label,
legend {
  @include fontSize(p);
  display: inline-block;
}

textarea {
  resize: vertical;
}

.width-wrap {
  // * Set the maximum width for the section's content
  margin: 0 auto;
  max-width: 1720px;
  padding: $section-spacing;
}

// ! Form Reset
form {
  display: flex;
  flex-direction: column;
  gap: $spacing-24;

  .head {
    display: grid;
    gap: $spacing-8;
    text-align: center;

    p {
      font-weight: 400;
    }
  }

  .fields-ctr {
    display: grid;
    gap: $spacing-16;

    li {
      label,
      legend {
        text-transform: uppercase;
        font-weight: 900;
      }

      .input-ctr {
        position: relative;
        display: flex;
        align-items: center;

        .valid-icon {
          position: absolute;
          right: 0;
          height: 100%;
          color: #5a9d5a;
          padding: $spacing-8;
          pointer-events: none;
        }
      }

      .password-ctr {
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: $orange solid $border-xsmall;

        input {
          border-bottom: none;
        }

        .eye-btn {
          height: 100%;
          color: #f07c6899;
          padding: $spacing-8;
        }
      }

      .hint-ctr {
        margin-top: $spacing-8;
        display: flex;
        align-items: center;
        gap: $spacing-8;

        svg {
          color: #5a9d5a;
        }

        p {
          @include fontSize(tiny);
        }
      }

      .radio-ctr {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-8;
        margin-top: $spacing-4;
        max-width: 420px;

        .radio-btn {
          padding: $spacing-8 $spacing-16;
          border: $border-xsmall solid $orange;
          border-radius: $border-medium;
          cursor: pointer;
          user-select: none;
          color: $orange;
          background-color: $white;
          @include fontSize(tiny);
          font-family: $font-inter;
          font-weight: 700;

          & > input {
            display: none;
          }

          &.selected {
            background-color: $orange;
            color: $white;
            border-color: $orange;
          }
        }
      }

      .file-ctr {
        height: 240px;
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        border: dashed $border-small $orange;

        input {
          position: absolute;
          inset: 0;
          border: dashed $border-small $orange;
          opacity: 0;
          cursor: pointer;
        }

        .file-preview {
          pointer-events: none;

          @include tablet() {
            max-width: 420px;
          }
        }

        .file-hint {
          margin: auto;
        }
      }
    }
  }
}

.icon {
  width: $spacing-32;
  height: $spacing-32;
}

.pixel {
  font-family: $font-vcr;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// ? Options/Actions Container
.opts-ctr {
  display: grid;
  grid-template-columns: auto 1fr;

  li {
    &:first-of-type {
      border: $orange solid $border-small;
    }

    a,
    button {
      height: 100%;
      width: 100%;
      padding: $spacing-16;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $spacing-8;
      text-transform: uppercase;

      .icon {
        width: $spacing-24;
        height: $spacing-24;
      }
    }

    a {
      color: $orange;
    }

    button {
      color: $white;
      background-color: $orange;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

// ? Titles Per Section
.title {
  margin-left: $spacing-24;
  @include fontSize(h6);
  color: $orange;
  display: flex;
  align-items: center;
  gap: $spacing-16;

  @include tablet() {
    margin-left: $spacing-32;
    @include fontSize(h3);
  }

  @include desktop() {
    margin-left: $spacing-64;
    @include fontSize(h2);
  }

  &.right {
    justify-content: flex-end;
    margin-right: $spacing-24;

    @include tablet() {
      margin-right: $spacing-32;
      @include fontSize(h3);
    }

    @include desktop() {
      margin-right: $spacing-64;
    }
  }
}

.more-link {
  padding: $spacing-16 $spacing-32;
  margin-right: $spacing-32;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: $spacing-8;
  text-transform: uppercase;
  @include fontSize(p);
  color: $orange;
  border: $orange solid $border-small;
  border-radius: $border-xxlarge;

  @include desktop() {
    margin-right: $spacing-64;
  }

  &.right {
    margin-right: auto;
    margin-left: $spacing-32;

    @include desktop() {
      margin-left: $spacing-64;
    }
  }
}

// ? Item Sliders
.item-slider .width-wrap {
  padding: 0;
  padding-block: $section-block-small;
  display: grid;
  gap: $spacing-24;
  overflow: hidden;

  @include desktop() {
    gap: $spacing-32;
  }

  .slider-ctr {
    padding-inline: $spacing-32;
    display: flex;
    gap: $spacing-24;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;

    @include desktop() {
      padding-inline: $spacing-64;
    }

    @include desktop-large() {
      justify-self: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .games-card {
      width: 100%;
      min-height: 400px;
      min-width: 320px;
      padding: $spacing-16;
      display: flex;
      flex-direction: column;
      justify-content: end;
      color: $white;
      font-family: $font-inter;
      border-radius: $border-large;
      background-color: $black;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        inset: 0;

        background: linear-gradient(
          to top,
          rgba($black, 0.9) 0%,
          rgba($black, 0.6) 30%,
          rgba($black, 0.2) 60%,
          rgba($black, 0) 100%
        );

        z-index: 1;
        pointer-events: none;
      }

      @include tablet() {
        min-height: 480px;
        max-width: 420px;
      }

      @include desktop() {
        border-radius: $border-xlarge;
      }

      p {
        position: relative;
        width: fit-content;
        padding: $spacing-4 $spacing-8;
        background-color: $white;
        color: $orange;
        border-radius: $border-medium;
        font-weight: 600;
        position: absolute;
        right: $spacing-16;
        top: $spacing-16;
      }

      img {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
      }

      .head {
        margin-bottom: $spacing-16;
        position: relative;
        z-index: 40;

        h3,
        h4 {
          font-family: $font-inter;
          text-transform: none;
          display: -webkit-box;
          max-width: 20ch;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h3 {
          font-weight: 600;
        }

        h4 {
          font-weight: 300;
        }
      }

      .details {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-8;
        position: relative;
        z-index: 40;

        li {
          padding: $spacing-4 $spacing-16;
          display: flex;
          gap: $spacing-4;
          border-radius: $border-medium;
          border: $white solid $border-xxsmall;
          @include fontSize(tiny);

          .platform-badge {
            display: flex;
            align-items: center;
            justify-content: center;
            span:first-of-type {
              display: none;
            }
          }

          .array {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

// ? Pagination
.page-opts {
  margin-top: $spacing-24;
  display: flex;
  gap: $spacing-24;
  align-items: center;
  justify-content: center;
  color: $orange;
  @include fontSize(p);

  button {
    padding: $spacing-16;
    display: flex;
    gap: $spacing-8;
    align-items: center;
    justify-content: center;
    color: $orange;
    text-transform: uppercase;
    border: $orange solid $border-small;
    border-radius: $border-large;

    .icon2 {
      @include fontSize(h6);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .pagination {
    display: flex;
    gap: $spacing-8;
    font-family: $font-inter;
    color: $black;

    .page-number {
      padding-inline: $spacing-8;
      text-align: center;
      border-bottom: $orange solid $border-xsmall;
      color: $orange;
    }
  }
}

// ? Toasts
.toast {
  padding: $spacing-16 $spacing-24;
  display: flex;
  gap: $spacing-8;
  align-items: center;
  justify-content: center;
  background-color: $white;

  span {
    font-family: $font-inter;
    @include fontSize(tiny);
  }

  &.red {
    background: $toast-red-bg;
    color: $toast-red-color;
    border: $border-xsmall solid $toast-red-color;

    svg {
      color: $toast-red-color;
    }
  }

  &.yellow {
    background: $toast-yellow-bg;
    color: $toast-yellow-color;
    border: $border-xsmall solid $toast-yellow-color;

    svg {
      color: $toast-yellow-color;
    }
  }

  &.green {
    background: $toast-green-bg;
    color: $toast-green-color;
    border: $border-xsmall solid $toast-green-color;

    svg {
      color: $toast-green-color;
    }
  }

  &.blue {
    background: $toast-blue-bg;
    color: $toast-blue-color;
    border: $border-xsmall solid $toast-blue-color;

    svg {
      color: $toast-blue-color;
    }
  }
}

#g_a11y_announcement {
  display: none;
}
