@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "VCR";
  src: url("../fonts/vcr.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Primetime";
  src: url("../fonts/primetime.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #f07c68 #fbead9;
}

main {
  background-color: #fbead9;
}

#root {
  position: relative;
  z-index: 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6;
  font-style: italic;
  text-transform: none;
  font-family: "Inter", sans-serif;
}

a {
  font-family: "VCR", monospace;
  display: inline-block;
  color: #292828;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Primetime", sans-serif;
  text-transform: uppercase;
  text-wrap: balance;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
  overflow-wrap: break-word;
  text-wrap: balance;
  font-weight: 300;
  max-width: 75ch;
  font-family: "Inter", sans-serif;
}

button {
  font-size: inherit;
  display: block;
  border: none;
  background-color: transparent;
  font-family: "VCR", monospace;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3019607843);
  z-index: 100;
  will-change: opacity;
}

input,
textarea {
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.6;
  background-color: #fbead9;
  color: #f07c68;
  padding: 0.5rem;
  border: none;
  font-family: "Inter", sans-serif;
  background-color: #fbead9;
  border-bottom: #f07c68 solid 0.125rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(240, 124, 104, 0.6);
}
input::placeholder,
textarea::placeholder {
  color: rgba(240, 124, 104, 0.6);
}

label,
legend {
  font-family: "Inter", sans-serif;
}

input,
textarea,
label,
legend {
  font-size: 1.125rem;
  line-height: 1.6;
  display: inline-block;
}

textarea {
  resize: vertical;
}

.width-wrap {
  margin: 0 auto;
  max-width: 1720px;
  padding: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
form .head {
  display: grid;
  gap: 0.5rem;
  text-align: center;
}
form .head p {
  font-weight: 400;
}
form .fields-ctr {
  display: grid;
  gap: 1rem;
}
form .fields-ctr li label,
form .fields-ctr li legend {
  text-transform: uppercase;
  font-weight: 900;
}
form .fields-ctr li .input-ctr {
  position: relative;
  display: flex;
  align-items: center;
}
form .fields-ctr li .input-ctr .valid-icon {
  position: absolute;
  right: 0;
  height: 100%;
  color: #5a9d5a;
  padding: 0.5rem;
  pointer-events: none;
}
form .fields-ctr li .password-ctr {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: #f07c68 solid 0.125rem;
}
form .fields-ctr li .password-ctr input {
  border-bottom: none;
}
form .fields-ctr li .password-ctr .eye-btn {
  height: 100%;
  color: rgba(240, 124, 104, 0.6);
  padding: 0.5rem;
}
form .fields-ctr li .hint-ctr {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
form .fields-ctr li .hint-ctr svg {
  color: #5a9d5a;
}
form .fields-ctr li .hint-ctr p {
  font-size: 0.875rem;
  line-height: 1.8;
}
form .fields-ctr li .radio-ctr {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.25rem;
  max-width: 420px;
}
form .fields-ctr li .radio-ctr .radio-btn {
  padding: 0.5rem 1rem;
  border: 0.125rem solid #f07c68;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #f07c68;
  background-color: #fbead9;
  font-size: 0.875rem;
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
form .fields-ctr li .radio-ctr .radio-btn > input {
  display: none;
}
form .fields-ctr li .radio-ctr .radio-btn.selected {
  background-color: #f07c68;
  color: #fbead9;
  border-color: #f07c68;
}
form .fields-ctr li .file-ctr {
  height: 240px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  border: dashed 0.25rem #f07c68;
}
form .fields-ctr li .file-ctr input {
  position: absolute;
  inset: 0;
  border: dashed 0.25rem #f07c68;
  opacity: 0;
  cursor: pointer;
}
form .fields-ctr li .file-ctr .file-preview {
  pointer-events: none;
}
@media (min-width: 768px) {
  form .fields-ctr li .file-ctr .file-preview {
    max-width: 420px;
  }
}
form .fields-ctr li .file-ctr .file-hint {
  margin: auto;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.pixel {
  font-family: "VCR", monospace;
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.opts-ctr {
  display: grid;
  grid-template-columns: auto 1fr;
}
.opts-ctr li:first-of-type {
  border: #f07c68 solid 0.25rem;
}
.opts-ctr li a,
.opts-ctr li button {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: uppercase;
}
.opts-ctr li a .icon,
.opts-ctr li button .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.opts-ctr li a {
  color: #f07c68;
}
.opts-ctr li button {
  color: #fbead9;
  background-color: #f07c68;
}
.opts-ctr li button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.title {
  margin-left: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #f07c68;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .title {
    margin-left: 2rem;
    font-size: 3rem;
    line-height: 1.25;
  }
}
@media (min-width: 1024px) {
  .title {
    margin-left: 4rem;
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
.title.right {
  justify-content: flex-end;
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .title.right {
    margin-right: 2rem;
    font-size: 3rem;
    line-height: 1.25;
  }
}
@media (min-width: 1024px) {
  .title.right {
    margin-right: 4rem;
  }
}

.more-link {
  padding: 1rem 2rem;
  margin-right: 2rem;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #f07c68;
  border: #f07c68 solid 0.25rem;
  border-radius: 3rem;
}
@media (min-width: 1024px) {
  .more-link {
    margin-right: 4rem;
  }
}
.more-link.right {
  margin-right: auto;
  margin-left: 2rem;
}
@media (min-width: 1024px) {
  .more-link.right {
    margin-left: 4rem;
  }
}

.item-slider .width-wrap {
  padding: 0;
  padding-block: 3.75rem;
  display: grid;
  gap: 1.5rem;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .item-slider .width-wrap {
    gap: 2rem;
  }
}
.item-slider .width-wrap .slider-ctr {
  padding-inline: 2rem;
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 1024px) {
  .item-slider .width-wrap .slider-ctr {
    padding-inline: 4rem;
  }
}
@media (min-width: 1440px) {
  .item-slider .width-wrap .slider-ctr {
    justify-self: center;
  }
}
.item-slider .width-wrap .slider-ctr::-webkit-scrollbar {
  display: none;
}
.item-slider .width-wrap .slider-ctr .games-card {
  width: 100%;
  min-height: 400px;
  min-width: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #fbead9;
  font-family: "Inter", sans-serif;
  border-radius: 1rem;
  background-color: #292828;
  position: relative;
  overflow: hidden;
}
.item-slider .width-wrap .slider-ctr .games-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(41, 40, 40, 0.9) 0%, rgba(41, 40, 40, 0.6) 30%, rgba(41, 40, 40, 0.2) 60%, rgba(41, 40, 40, 0) 100%);
  z-index: 1;
  pointer-events: none;
}
@media (min-width: 768px) {
  .item-slider .width-wrap .slider-ctr .games-card {
    min-height: 480px;
    max-width: 420px;
  }
}
@media (min-width: 1024px) {
  .item-slider .width-wrap .slider-ctr .games-card {
    border-radius: 1.5rem;
  }
}
.item-slider .width-wrap .slider-ctr .games-card p {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  background-color: #fbead9;
  color: #f07c68;
  border-radius: 0.5rem;
  font-weight: 600;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.item-slider .width-wrap .slider-ctr .games-card img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
.item-slider .width-wrap .slider-ctr .games-card .head {
  margin-bottom: 1rem;
  position: relative;
  z-index: 40;
}
.item-slider .width-wrap .slider-ctr .games-card .head h3,
.item-slider .width-wrap .slider-ctr .games-card .head h4 {
  font-family: "Inter", sans-serif;
  text-transform: none;
  display: -webkit-box;
  max-width: 20ch;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-slider .width-wrap .slider-ctr .games-card .head h3 {
  font-weight: 600;
}
.item-slider .width-wrap .slider-ctr .games-card .head h4 {
  font-weight: 300;
}
.item-slider .width-wrap .slider-ctr .games-card .details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;
  z-index: 40;
}
.item-slider .width-wrap .slider-ctr .games-card .details li {
  padding: 0.25rem 1rem;
  display: flex;
  gap: 0.25rem;
  border-radius: 0.5rem;
  border: #fbead9 solid 0.0125rem;
  font-size: 0.875rem;
  line-height: 1.8;
}
.item-slider .width-wrap .slider-ctr .games-card .details li .platform-badge {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-slider .width-wrap .slider-ctr .games-card .details li .platform-badge span:first-of-type {
  display: none;
}
.item-slider .width-wrap .slider-ctr .games-card .details li .array {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-opts {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #f07c68;
  font-size: 1.125rem;
  line-height: 1.6;
}
.page-opts button {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: #f07c68;
  text-transform: uppercase;
  border: #f07c68 solid 0.25rem;
  border-radius: 1rem;
}
.page-opts button .icon2 {
  font-size: 1.5rem;
  line-height: 1.4;
}
.page-opts button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.page-opts .pagination {
  display: flex;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #292828;
}
.page-opts .pagination .page-number {
  padding-inline: 0.5rem;
  text-align: center;
  border-bottom: #f07c68 solid 0.125rem;
  color: #f07c68;
}

.toast {
  padding: 1rem 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #fbead9;
}
.toast span {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.8;
}
.toast.red {
  background: #ffe5e5;
  color: #d33;
  border: 0.125rem solid #d33;
}
.toast.red svg {
  color: #d33;
}
.toast.yellow {
  background: #ffe8cc;
  color: #8a8317;
  border: 0.125rem solid #8a8317;
}
.toast.yellow svg {
  color: #8a8317;
}
.toast.green {
  background: #e5ffe5;
  color: #2d8a2d;
  border: 0.125rem solid #2d8a2d;
}
.toast.green svg {
  color: #2d8a2d;
}
.toast.blue {
  background: #e0f7ff;
  color: #0077b6;
  border: 0.125rem solid #0077b6;
}
.toast.blue svg {
  color: #0077b6;
}

#g_a11y_announcement {
  display: none !important;
}

.public-header {
  max-width: 1720px;
  position: fixed;
  z-index: 50;
  inset: 0;
  margin: auto;
  pointer-events: none;
}
.public-header a,
.public-header button,
.public-header input,
.public-header li {
  pointer-events: auto;
}
.public-header.front {
  z-index: 100;
}
.public-header .width-wrap {
  padding: 0;
}
.public-header .width-wrap nav {
  width: 100%;
  max-height: 900px;
  max-width: 700px;
  position: absolute;
  inset-inline: 0;
  margin: auto;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  border-inline: #f07c68 solid 0.25rem;
}
.public-header .width-wrap nav .nav-items {
  display: flex;
  flex-direction: column;
  background-color: #fbead9;
}
.public-header .width-wrap nav .nav-items li {
  border-bottom: #f07c68 solid 0.25rem;
}
.public-header .width-wrap nav .nav-items li a {
  height: 4rem;
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  color: #f07c68;
}
.public-header .width-wrap nav .nav-items li a .link-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.public-header .width-wrap nav .social-items {
  display: flex;
  flex-direction: column;
  background-color: #fbead9;
}
.public-header .width-wrap nav .social-items li {
  flex: 1;
  border-bottom: #f07c68 solid 0.25rem;
  border-left: #f07c68 solid 0.25rem;
}
.public-header .width-wrap nav .social-items li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  padding-inline: 1.5rem;
  color: #f07c68;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.6;
}
.public-header .width-wrap nav .opt-items {
  grid-column: span 2;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  border-bottom: #f07c68 solid 0.25rem;
}
.public-header .width-wrap nav .opt-items li {
  position: relative;
}
.public-header .width-wrap nav .opt-items li:not(:last-of-type) {
  border-right: #f07c68 solid 0.25rem;
}
.public-header .width-wrap nav .opt-items li > a,
.public-header .width-wrap nav .opt-items li button {
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-inline: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #fbead9;
  color: #f07c68;
  text-transform: uppercase;
}
.public-header .width-wrap nav .opt-items li .logo {
  padding: 0;
  padding-inline: 0.5rem;
  background-color: #fbead9;
}
.public-header .width-wrap nav .opt-items li .logo svg {
  width: 4rem;
  height: 100%;
}
.public-header .width-wrap nav .opt-items li .nav-submenu-btn span {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.public-header .width-wrap nav .opt-items li .nav-submenu {
  position: absolute;
  inset-inline: 0;
  display: grid;
  grid-template-rows: 0fr;
}
.public-header .width-wrap nav .opt-items li .nav-submenu.open {
  grid-template-rows: 1fr;
}
.public-header .width-wrap nav .opt-items li .nav-submenu ul {
  overflow: hidden;
}
.public-header .width-wrap nav .opt-items li .nav-submenu ul > li {
  border: #f07c68 solid 0.25rem;
}
.public-header .width-wrap nav .opt-items li .nav-submenu ul > li:not(:first-of-type) {
  border-top: 0;
}
.public-header .width-wrap nav .opt-items li .nav-submenu ul > li a,
.public-header .width-wrap nav .opt-items li .nav-submenu ul > li button {
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
}
.public-header .width-wrap nav .opt-items li .nav-submenu ul > li a .icon,
.public-header .width-wrap nav .opt-items li .nav-submenu ul > li button .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.public-header .width-wrap nav .nav-items .icon,
.public-header .width-wrap nav .social-items .icon {
  width: 1.5rem;
  height: 1.5rem;
}

footer {
  background-color: #f07c68;
  position: relative;
  z-index: 50;
}
footer .width-wrap {
  max-height: 1024px;
  background-color: #f07c68;
}
@media (min-width: 768px) {
  footer .width-wrap {
    display: grid;
    gap: 1.5rem;
    height: 100vh;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;
  }
}
footer .width-wrap .foot-logo {
  width: 160px;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
}
@media (min-width: 768px) {
  footer .width-wrap .foot-logo {
    display: block;
  }
}
footer .width-wrap .top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .width-wrap .top .nav-items {
  display: grid;
  gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.4;
}
footer .width-wrap .top .nav-items .nav-link {
  color: #fbead9;
  text-transform: uppercase;
}
footer .width-wrap .top .contact-items {
  display: grid;
  gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.4;
}
footer .width-wrap .top .contact-items li {
  display: grid;
  gap: 0.25rem;
}
footer .width-wrap .top .contact-items li .contact-label {
  opacity: 0.7;
}
footer .width-wrap .top .contact-items li span {
  color: #fbead9;
  text-transform: uppercase;
  font-family: "VCR", monospace;
  font-size: 1.125rem;
  line-height: 1.6;
}
footer .width-wrap .copyright-svg {
  margin-block: 1.5rem;
  grid-row: 2;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  footer .width-wrap .copyright-svg {
    grid-column: span 2;
  }
}
footer .width-wrap .bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
footer .width-wrap .bottom .info-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  footer .width-wrap .bottom .info-items {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
footer .width-wrap .bottom .info-items li a {
  color: #fbead9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: uppercase;
}
footer .width-wrap .bottom .copyright {
  display: flex;
  gap: 0.5rem;
  font-family: "VCR", monospace;
  text-transform: uppercase;
  color: #fbead9;
  font-weight: 500;
  letter-spacing: 1px;
  text-wrap: pretty;
}
@media (min-width: 768px) {
  footer .width-wrap .bottom .copyright {
    align-items: center;
  }
}
@media (min-width: 768px) {
  footer .width-wrap .bottom {
    grid-column: span 2;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  footer .width-wrap .bottom {
    flex-direction: row-reverse;
  }
}

.home-main .hero {
  position: relative;
  background-color: #292828;
  overflow: hidden;
}
.home-main .hero::before {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 1;
  box-shadow: inset #000000 0px 0px 20px 15px;
}
.home-main .hero .hero-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
}
.home-main .hero .tv-effect {
  position: absolute;
  inset: 10px;
  z-index: 40;
  pointer-events: none;
  overflow: hidden;
}
.home-main .hero .tv-effect::before {
  content: "";
  pointer-events: none;
  width: 100%;
  height: 0.25rem;
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.2666666667);
  opacity: 0.75;
  z-index: 100;
  animation: tv-line 5s linear infinite reverse;
  will-change: transform;
}
.home-main .hero .tv-effect::after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 100;
  background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.2) 50%);
  background-size: 100% 4px;
}
@keyframes tv-line {
  0%, 15% {
    transform: translateY(-20px);
  }
  85%, 100% {
    transform: translateY(100vh);
  }
}
.home-main .hero .width-wrap {
  height: 100vh;
  max-height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.home-main .hero .width-wrap .hero-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  text-align: center;
  color: #fbead9;
  font-size: 2rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .home-main .hero .width-wrap .hero-title {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
@media (min-width: 1024px) {
  .home-main .hero .width-wrap .hero-title {
    font-size: 4.5rem;
    line-height: 1.1;
  }
}
.home-main .hero .width-wrap .hero-title {
  max-width: 90%;
  margin: 0 auto;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
}
.home-main .hero .width-wrap .hero-heading-svg {
  width: 100%;
  height: 100%;
}
.home-main .howitworks .width-wrap {
  padding: 0;
  padding-top: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1024px) {
  .home-main .howitworks .width-wrap {
    gap: 3rem;
  }
}
.home-main .howitworks .width-wrap .title {
  text-align: center;
  margin-inline: auto;
}
.home-main .howitworks .width-wrap .title span:not(.pixel) {
  max-width: 250px;
}
@media (min-width: 768px) {
  .home-main .howitworks .width-wrap .title span:not(.pixel) {
    max-width: none;
  }
}
.home-main .howitworks .width-wrap .howitworks-ctr {
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .home-main .howitworks .width-wrap .howitworks-ctr {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .home-main .howitworks .width-wrap .howitworks-ctr {
    padding-inline: 4rem;
  }
}
.home-main .howitworks .width-wrap .howitworks-ctr .card {
  flex: 1;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .home-main .howitworks .width-wrap .howitworks-ctr .card {
    min-width: 320px;
    padding: 1rem;
  }
}
.home-main .howitworks .width-wrap .howitworks-ctr .card .icon {
  fill: #f07c68;
  width: 8rem;
  height: 8rem;
}
.home-main .howitworks .width-wrap .howitworks-ctr .card .desc {
  text-align: center;
  font-weight: 400;
  max-width: 350px;
}
.home-main .benefits .width-wrap {
  padding: 0;
  padding-block: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1024px) {
  .home-main .benefits .width-wrap {
    min-height: 100vh;
    gap: 3rem;
  }
}
@media (min-width: 1440px) {
  .home-main .benefits .width-wrap {
    min-height: auto;
    height: 100vh;
    max-height: 1024px;
  }
}
.home-main .benefits .width-wrap .benefits-ctr {
  flex: 1;
  padding-inline: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .home-main .benefits .width-wrap .benefits-ctr {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .home-main .benefits .width-wrap .benefits-ctr {
    padding-inline: 4rem;
  }
}
@media (min-width: 1440px) {
  .home-main .benefits .width-wrap .benefits-ctr {
    justify-self: center;
  }
}
.home-main .benefits .width-wrap .benefits-ctr .card {
  flex: 1;
  padding: 1.5rem;
  min-height: 360px;
  background-color: #f07c68;
  color: #fbead9;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .home-main .benefits .width-wrap .benefits-ctr .card {
    min-width: 320px;
  }
}
.home-main .benefits .width-wrap .benefits-ctr .card .icon {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.2;
  transform: rotateZ(30deg) scale(1.1) translate(120px, 30px);
  pointer-events: none;
}
.home-main .benefits .width-wrap .benefits-ctr .card .icon path {
  fill: #fbead9;
}
.home-main .benefits .width-wrap .benefits-ctr .card .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home-main .benefits .width-wrap .benefits-ctr .card .info .name {
  font-size: 1.5rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .home-main .benefits .width-wrap .benefits-ctr .card .info .name {
    font-size: 2rem;
    line-height: 1.4;
  }
}
.home-main .benefits .width-wrap .benefits-ctr .card .info .desc {
  font-size: 1.125rem;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .home-main .benefits .width-wrap .benefits-ctr .card .info .desc {
    font-size: 1.5rem;
    line-height: 1.4;
  }
}
.home-main .subscription .width-wrap {
  padding: 0;
  padding-block: 3.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.home-main .subscription .width-wrap .title {
  text-align: center;
  margin-inline: auto;
  max-width: 500px;
}
.home-main .subscription .width-wrap .title span:not(.pixel) {
  max-width: 250px;
}
@media (min-width: 768px) {
  .home-main .subscription .width-wrap .title span:not(.pixel) {
    max-width: none;
  }
}
@media (min-width: 1024px) {
  .home-main .subscription .width-wrap .title {
    max-width: none;
  }
}
.home-main .subscription .width-wrap .subtitle {
  text-align: center;
  color: #292828;
  font-weight: 400;
  max-width: 500px;
  font-size: 1rem;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .home-main .subscription .width-wrap .subtitle {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
.home-main .subscription .width-wrap .subscription-ctr {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .home-main .subscription .width-wrap .subscription-ctr {
    flex-direction: row;
    justify-content: center;
    padding-inline: 2rem;
  }
}
@media (min-width: 1024px) {
  .home-main .subscription .width-wrap .subscription-ctr {
    padding-inline: 4rem;
  }
}
.home-main .subscription .width-wrap .subscription-ctr .card {
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 1rem;
  border: #292828 solid 0.25rem;
  border-radius: 3rem;
  background-color: #eaeaea;
  color: #292828;
}
@media (min-width: 768px) {
  .home-main .subscription .width-wrap .subscription-ctr .card {
    max-width: 500px;
  }
}
.home-main .subscription .width-wrap .subscription-ctr .card.premium {
  background-color: #fef2f0;
  border-color: #f07c68;
}
.home-main .subscription .width-wrap .subscription-ctr .card.premium .card-head,
.home-main .subscription .width-wrap .subscription-ctr .card.premium .sub-head,
.home-main .subscription .width-wrap .subscription-ctr .card.premium .price-head,
.home-main .subscription .width-wrap .subscription-ctr .card.premium .description,
.home-main .subscription .width-wrap .subscription-ctr .card.premium .info-ctr {
  color: #f07c68;
}
.home-main .subscription .width-wrap .subscription-ctr .card .card-head,
.home-main .subscription .width-wrap .subscription-ctr .card .sub-head {
  display: flex;
  align-items: center;
  color: #292828;
}
.home-main .subscription .width-wrap .subscription-ctr .card .card-head {
  gap: 0.5rem;
}
.home-main .subscription .width-wrap .subscription-ctr .card .card-head .icon {
  width: 3rem;
  height: 3rem;
}
.home-main .subscription .width-wrap .subscription-ctr .card .card-head h3 {
  font-size: 1rem;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .home-main .subscription .width-wrap .subscription-ctr .card .card-head h3 {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
.home-main .subscription .width-wrap .subscription-ctr .card .description {
  opacity: 0.7;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.8;
}
@media (min-width: 768px) {
  .home-main .subscription .width-wrap .subscription-ctr .card .description {
    max-width: 420px;
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
.home-main .subscription .width-wrap .subscription-ctr .card .price-head {
  padding-top: 1.5rem;
  border-top-style: solid;
  border-top-width: 0.125rem;
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
  text-transform: none;
}
.home-main .subscription .width-wrap .subscription-ctr .card .price-head h4 {
  display: flex;
  gap: 0.5rem;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  line-height: normal;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .home-main .subscription .width-wrap .subscription-ctr .card .price-head h4 {
    font-size: 2.5rem;
    line-height: 1.3;
  }
}
@media (min-width: 1024px) {
  .home-main .subscription .width-wrap .subscription-ctr .card .price-head h4 {
    font-size: 3rem;
    line-height: 1.25;
  }
}
.home-main .subscription .width-wrap .subscription-ctr .card .price-head h4 span {
  display: inline-block;
}
.home-main .subscription .width-wrap .subscription-ctr .card .price-head p {
  opacity: 0.5;
  font-weight: 500;
}
.home-main .subscription .width-wrap .subscription-ctr .card .info-ctr {
  font-weight: 500;
  display: grid;
  gap: 1.5rem;
}
.home-main .subscription .width-wrap .subscription-ctr .card .info-ctr .info {
  display: grid;
  gap: 0.5rem;
}
.home-main .subscription .width-wrap .subscription-ctr .card .info-ctr .info .sub-head {
  gap: 1rem;
}
.home-main .subscription .width-wrap .subscription-ctr .card .info-ctr .info .details {
  display: grid;
  gap: 0.5rem;
  margin-left: 3rem;
  list-style-type: "-   ";
}
.home-main .subscription .width-wrap .subscription-ctr .card .info-ctr .info .details li span {
  font-family: "Inter", sans-serif;
}
@media (min-width: 1440px) {
  .home-main .testimonials .slider-ctr {
    justify-self: auto !important;
  }
}
.home-main .testimonials .slider-ctr .card-wrap {
  background: #fbead9;
  display: inline-block;
  border-radius: 1.5rem;
  clip-path: polygon(0 0, calc(100% - 1.5rem) 0, 100% 1.5rem, 100% 100%, 0 100%);
}
.home-main .testimonials .slider-ctr .test-card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  min-height: 480px;
  min-width: 500px;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f07c68;
  border-radius: 1rem;
  clip-path: polygon(0 0, calc(100% - 1.5rem) 0, 100% 1.5rem, 100% 100%, 0 100%);
}
.home-main .testimonials .slider-ctr .test-card .description {
  padding: 1rem;
  min-height: 240px;
  border-bottom: none;
  background-color: #fff7f5;
  color: #292828;
  font-size: 1.5rem;
  line-height: 1.4;
  text-wrap: auto;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 2.1rem, rgba(240, 124, 104, 0.3) calc(2.1rem + 2px));
}
.home-main .testimonials .slider-ctr .test-card .top {
  display: grid;
  min-height: 160px;
  max-width: 300px;
  border-top: none;
  background-color: #d05f4e;
  gap: 0.25rem;
  color: #fbead9;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  overflow: hidden;
}
.home-main .testimonials .slider-ctr .test-card .top .test-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: #f07c68 solid 0.25rem;
}
.home-main .testimonials .slider-ctr .test-card .top .test-head img {
  aspect-ratio: 1/1;
  max-height: 6.5rem;
  pointer-events: none;
  border-right: #f07c68 solid 0.25rem;
}
.home-main .testimonials .slider-ctr .test-card .top .test-head .name {
  flex: 1;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  max-width: 9ch;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
}
.home-main .testimonials .slider-ctr .test-card .top .subject {
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: auto;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  font-weight: 500;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */