@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/dashboardheader";

.dashboard-main {
  padding-top: $section-block-medium;
  padding-bottom: $section-block-large;
  min-height: 100vh;
  position: relative;

  h2 {
    padding-inline: $spacing-16;
  }

  .dashboard-content {
    .title {
      margin-bottom: $spacing-24;
      margin-left: 0;
    }

    .table-wrapper {
      overflow-x: auto;
      padding: $spacing-16;
    }

    .table-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: $spacing-16;

      button,
      a {
        border-radius: $border-large;
        padding: $spacing-16;
        border: $border-small solid $orange;
        text-transform: uppercase;
        color: $orange;
      }
    }

    .dashboard-table {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;

      .table-head {
        li {
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: 200px;
          background-color: $orange;
          color: $white;
          min-width: max-content;

          > span {
            padding: $spacing-8;
            font-family: $font-inter;
            @include fontSize(tiny);
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;

            &:not(:last-of-type) {
              border-right: $border-xxsmall solid $pink;
            }
          }
        }
      }

      .table-content {
        li {
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: 200px;
          border: $border-xxsmall solid $pink;
          min-width: max-content;

          > span {
            padding: $spacing-8;
            font-family: $font-inter;
            @include fontSize(tiny);
            white-space: nowrap;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;

            &:not(:last-of-type) {
              border-right: $border-xxsmall solid $pink;
            }

            &.platform-badge {
              display: flex;
              gap: $spacing-8;
              align-items: center;
            }

            > .table-image {
              max-height: $spacing-64;
            }

            &.actions {
              padding: 0;
              display: flex;
              gap: 0;
              align-items: center;

              &.none {
                padding: $spacing-8;
              }

              .icon-btn {
                flex: 1;
                height: 100%;
                padding: $spacing-4;
                display: flex;
                gap: $spacing-8;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                background-color: $orange;
                color: $white;

                svg {
                  fill: $white;
                }

                &:not(:last-of-type) {
                  border-right: $border-xsmall solid $pink;
                }
              }
            }

            &:not(.actions):not(.platform-badge) {
              padding: $spacing-8;
              display: flex;
              align-items: center;
            }
          }
        }
      }

      .status {
        display: inline-flex;
        align-items: center;
        padding: $spacing-4 $spacing-8;
        font-weight: 600;
        font-size: 12px;
        white-space: nowrap;

        &.overdue {
          background: $toast-red-bg;
          color: $toast-red-color;
        }

        &.available,
        &.rented,
        &.returned {
          background: $toast-green-bg;
          color: $toast-green-color;
        }

        &.delivering,
        &.returning,
        &.pending {
          background: $toast-blue-bg;
          color: $toast-blue-color;
        }
      }
    }
  }

  .confirm-modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-maxtop;
    pointer-events: none;

    .content {
      border-radius: $spacing-24;
      padding: $spacing-24;
      background-color: $orange;
      color: $white;
      text-align: center;
      pointer-events: visible;

      p {
        margin-block: $spacing-8 $spacing-32;

        strong {
          font-weight: 500;
        }
      }

      .confirm-btn {
        background-color: $white;
        color: $orange;
      }
    }
  }

  .form-ctr {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-maxtop;
    pointer-events: none;
    overflow: hidden;

    button,
    a {
      pointer-events: visible;
    }

    .head {
      display: flex;
      justify-content: space-between;
    }

    form {
      overflow-y: auto;
      max-height: 640px;
      padding: $spacing-24;
      pointer-events: visible;
      background-color: $white;
      padding: $spacing-48 $spacing-24;
      border: $orange solid $border-medium;
      border-radius: $border-large;

      .opts-ctr {
        li:first-of-type {
          button {
            background-color: $white;
            color: $orange;
          }
        }
      }

      @include tablet() {
        min-width: 420px;
      }
    }
  }

  .review-wrap {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-maxtop;
    pointer-events: none;
    overflow: hidden;

    button,
    a {
      pointer-events: visible;
    }

    .review-ctr {
      pointer-events: visible;
      overflow-y: auto;
      max-width: 480px;
      max-height: 640px;
      padding: $spacing-48 0;
      margin: auto;
      border: $orange solid $border-medium;
      border-radius: $border-large;
      background-color: $white;
      display: grid;
      gap: $spacing-24;

      .head {
        padding-inline: $spacing-24;
        display: flex;
        justify-content: space-between;
      }

      .preview-img {
        padding-inline: $spacing-24;
      }

      .review-content {
        display: grid;
        gap: $spacing-16;
        font-family: $font-inter;

        .info-ctr {
          display: grid;
          gap: $spacing-4;

          .info-title {
            padding: 0 $spacing-24;
            padding-bottom: $spacing-8;
            border-bottom: $orange solid $border-small;
          }

          .info-list {
            display: grid;
            gap: $spacing-8;

            .info {
              padding: $spacing-8 $spacing-24;
              display: flex;
              justify-content: space-between;

              &:not(:last-of-type) {
                border-bottom: $orange solid $border-xsmall;
              }
            }

            .description {
              max-width: 320px;
              display: flex;
              flex-direction: column;
              gap: 8px;
            }

            .label {
              font-weight: 500;
            }

            .data {
              font-style: italic;
              > .platform-badge {
                display: flex;
                align-items: center;
                gap: $spacing-8;
              }
            }
          }
        }
      }

      .opts-ctr {
        padding: 0 $spacing-24;
        li:first-of-type {
          button {
            background-color: $white;
            color: $orange;
          }
        }
      }
    }
  }
}

.toast {
  position: fixed;
  bottom: $spacing-24;
  inset-inline: 0;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  gap: $spacing-8;

  .icon {
    width: $spacing-16;
    height: $spacing-16;
  }

  .toast-content {
    display: flex;
    gap: $spacing-4;

    span:first-of-type {
      max-width: 20ch;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $font-inter;
      display: block;
      font-weight: 600;
    }
  }
}
