@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.games-main {
  .hero {
    background-color: $orange;

    .width-wrap {
      padding-inline: 0;
      padding-block: $section-block-large 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: $section-block-medium;
        bottom: 0;
        z-index: 0;
        background-color: $white;

        @include tablet() {
          height: $spacing-32;
        }
      }

      .platform-filters {
        margin-inline: auto;
        padding-inline: $section-spacing;
        display: grid;
        max-width: 800px;
        grid-template-columns: repeat(4, $spacing-64 * 3);
        overflow-x: auto;
        gap: $spacing-16;

        scrollbar-width: none;

        @include tablet() {
          grid-template-columns: repeat(4, 1fr);
        }

        .platform-btn {
          position: relative;
          padding: $spacing-24 $spacing-16;
          border: $border-small solid $orange;
          border-radius: $border-xlarge;
          color: $orange;
          background-color: $white;
          text-transform: uppercase;
          display: grid;
          place-items: center;

          input {
            position: absolute;
            inset: 0;
            opacity: 0;
            cursor: pointer;
          }

          .platform-badge {
            display: grid;
            place-items: center;

            svg {
              grid-row: 1;
              width: $spacing-48;
              height: $spacing-48;
              margin-bottom: $spacing-8;
            }
          }

          &.selected {
            background-color: $orange;
            color: $white;
            border: $orange solid $border-small;
            border-color: $white;
          }
        }
      }

      .filter-bar {
        z-index: 1;
        margin-inline: $section-spacing;
        margin-top: $spacing-32;
        max-width: 1200px;
        display: grid;
        position: relative;

        @include tablet() {
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr;
        }

        @include desktop-large() {
          margin-inline: auto;
        }

        .search {
          display: flex;
          align-items: center;
          position: relative;
          overflow: hidden;
          background-color: $white;
          border: $orange solid $border-xsmall;
          border-top-left-radius: $border-xlarge;
          border-top-right-radius: $border-xlarge;

          @include tablet() {
            border-right: none;
            border-radius: 0;
            border-top-left-radius: $border-xlarge;
            border-bottom-left-radius: $border-xlarge;
          }

          > .icon {
            margin-left: $spacing-16;
            position: absolute;
            color: $orange;
            pointer-events: none;
          }

          input {
            padding: $spacing-16;
            padding-left: $spacing-48 + $spacing-16;
            border: none;
            outline: none;
          }

          button {
            padding-inline: $spacing-16;
            color: $orange;
          }
        }

        .group-filters {
          display: flex;
          border: $orange solid $border-xsmall;
          border-top: 0;
          border-bottom-left-radius: $border-xlarge;
          border-bottom-right-radius: $border-xlarge;
          overflow: hidden;

          @include tablet() {
            border-top: $orange solid $border-xsmall;
            border-bottom-left-radius: 0;
            border-top-right-radius: $border-xlarge;
            border-bottom-right-radius: $border-xlarge;
          }

          .filter-item {
            width: 100%;
            height: 100%;

            &:nth-of-type(2) {
              border-inline: $orange solid $border-xsmall;
            }

            button {
              width: 100%;
              height: 100%;
              background-color: $white;
              color: $orange;
              font-family: $font-inter;
              display: flex;
              align-items: center;
              padding-block: $spacing-24;
              padding-left: $spacing-16;
              overflow: hidden;
              position: relative;

              span {
                position: absolute;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 120px;
                overflow: hidden;

                @include desktop() {
                  max-width: 170px;
                }
              }

              .clear-btn {
                position: absolute;
                right: $spacing-16;
                background-color: $white;
              }
            }
          }

          .checkbox-ctr {
            max-width: 480px;
            padding: $spacing-16;
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-4;
            position: absolute;
            z-index: $z-index-maxtop;
            background-color: $white;
            border: $orange solid $border-xsmall;
            border-radius: $border-large;
            top: 8rem;

            label {
              position: relative;
              padding: $spacing-4 $spacing-8;
              cursor: pointer;
              border: $orange solid $border-xsmall;
              border-radius: $border-medium;
              font-family: $font-inter;
              font-weight: 600;
              color: $orange;

              &.selected {
                background-color: $orange;
                color: $white;
              }

              input {
                position: absolute;
                inset: 0;
                opacity: 0;
                cursor: pointer;
              }
            }

            @include tablet() {
              top: 5rem;
            }
          }
        }
      }
    }
  }

  .content {
    .width-wrap {
      color: $orange;
      h1 {
        text-align: center;
        @include fontSize(h4);

        @include tablet() {
          @include fontSize(h2);
        }
        @include desktop() {
          @include fontSize(h1);
        }
      }

      h2 {
        margin-top: $spacing-32;
        margin-bottom: $spacing-16;
        font-family: $font-inter;
        font-weight: 400;
        @include fontSize(p);
      }

      .games-ctr {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        gap: $spacing-8;

        @include desktop() {
          grid-template-columns: repeat(3, 1fr);
          gap: $spacing-16;
        }

        @include desktop-large() {
          grid-template-columns: repeat(4, 1fr);
          gap: $spacing-24;
        }

        .card {
          width: 100%;
          min-height: 400px;
          max-width: 400px;
          padding: $spacing-16;
          display: flex;
          flex-direction: column;
          justify-content: end;
          color: $white;
          font-family: $font-inter;
          border-radius: $border-large;
          background-color: $black;
          position: relative;
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            inset: 0;

            background: linear-gradient(
              to top,
              rgba($black, 0.9) 0%,
              rgba($black, 0.6) 30%,
              rgba($black, 0.2) 60%,
              rgba($black, 0) 100%
            );

            z-index: 1;
            pointer-events: none;
          }

          @include tablet() {
            min-height: 480px;
            max-width: 480px;
          }

          @include desktop() {
            border-radius: $border-xlarge;
          }

          p {
            position: relative;
            width: fit-content;
            padding: $spacing-4 $spacing-8;
            background-color: $white;
            color: $orange;
            border-radius: $border-medium;
            font-weight: 600;
            position: absolute;
            right: $spacing-16;
            top: $spacing-16;
          }

          img {
            position: absolute;
            inset: 0;
            height: 100%;
          }

          .head {
            margin-bottom: $spacing-16;
            position: relative;
            z-index: $z-index-top;

            h3,
            h4 {
              font-family: $font-inter;
              text-transform: none;
              display: -webkit-box;
              max-width: 20ch;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              line-clamp: 1;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            h3 {
              font-weight: 600;
            }

            h4 {
              font-weight: 300;
            }
          }

          .details {
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-8;
            position: relative;
            z-index: $z-index-top;

            li {
              padding: $spacing-4 $spacing-16;
              display: flex;
              gap: $spacing-4;
              border-radius: $border-medium;
              border: $white solid $border-xxsmall;
              @include fontSize(tiny);

              .platform-badge {
                display: flex;
                align-items: center;
                justify-content: center;
                span:first-of-type {
                  display: none;
                }
              }

              .array {
                max-width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}
