@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.listings-main {
  .listings-hero {
    padding-top: $section-block-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .top {
      .genre {
        display: flex;
        justify-content: center;
        gap: $spacing-8;
        @include fontSize(tiny);
        text-transform: uppercase;
        font-weight: 900;

        span {
          font-family: $font-vcr;
        }
      }
    }

    p {
      text-align: center;
    }
  }

  .listings-content {
    .title {
      margin-left: 0;
      margin-bottom: $spacing-16;
    }

    .table-wrapper {
      width: 100%;
      overflow-x: auto;
    }

    .table-head {
      li {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        gap: $spacing-8;
        background-color: $orange;
        color: $white;

        span {
          padding: $spacing-16 $spacing-8;
          @include fontSize(tiny);
          font-weight: 700;
          text-transform: uppercase;
          font-family: $font-inter;

          &:not(:last-of-type) {
            border-right: $border-xxsmall solid $pink;
          }
        }
      }
    }

    .table-content {
      border: $border-xxsmall solid $pink;

      li {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        gap: $spacing-8;

        border-bottom: $border-xxsmall solid $pink;
        align-items: center;

        & > span {
          padding: $spacing-16 $spacing-8;
          @include fontSize(tiny);
          font-family: $font-inter;

          &:not(:last-of-type) {
            border-right: $border-xxsmall solid $pink;
          }
        }
      }
    }

    .actions {
      display: flex;
      gap: $spacing-8;
      align-items: center;
    }
  }
}
