@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.games-main {
  .games-content {
    .width-wrap {
      min-height: 100vh;
      padding-block: $section-block-small;
      background-color: $white;
      overflow: hidden;

      .platform-filters {
        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: auto;
        gap: $spacing-24;

        .platform-btn {
          flex: 0 0 160px;
          padding: $spacing-24 $spacing-16;
          border: $border-small solid $orange;
          border-radius: $border-medium;
          cursor: pointer;
          user-select: none;
          color: $orange;
          background-color: $white;
          text-transform: uppercase;

          input {
            display: none;
          }

          .platform-badge {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            svg {
              width: $spacing-48;
              height: $spacing-48;
              margin-bottom: $spacing-8;
            }
          }

          &.selected {
            background-color: $orange;
            color: $white;
            border-color: $orange;
          }
        }
      }

      .bottom {
        margin-top: $spacing-24;
        display: flex;
        overflow: hidden;
        border: $orange solid $border-small;
        border-radius: $border-medium;

        .search-box {
          flex: 1;
          display: flex;
          align-items: center;
          color: $orange;

          input {
            border: none;
            padding: $spacing-16;
          }
        }

        select {
          border: none;
          padding: $spacing-16;
          background: $white;
          color: $orange;
          cursor: pointer;
        }
      }

      h2 {
        margin-top: $spacing-16;
        color: $orange;
        font-family: $font-inter;
        font-weight: 900;
        text-align: center;
      }

      .games-ctr {
        margin-top: $spacing-24;
        display: grid;
        gap: $spacing-16;

        @include tablet() {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

        .card {
          display: grid;
          gap: $spacing-8;
          padding: $spacing-16;
          border: $border-small solid $black;
          border-radius: $border-medium;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: $spacing-4;

          .name {
            font-weight: 700;
            letter-spacing: -0.8px;
            @include fontSize(p);
            overflow: hidden;
            max-width: 20ch;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: $font-inter;
          }

          .listedBy {
            font-size: 0.9rem;
            opacity: 0.7;
            font-family: $font-inter;
          }

          ul {
            gap: $spacing-8;
            text-transform: uppercase;
            font-family: $font-inter;
          }

          .genre {
            text-transform: uppercase;
            font-weight: 500;
            @include fontSize(tag);
            opacity: 0.6;
          }
        }
      }
    }
  }
}
