@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.listing-main {
  padding-top: $section-block-medium;
  padding-bottom: $section-block-large;

  section .width-wrap {
    display: grid;
    position: relative;

    @include tablet() {
      grid-template-columns: 1fr 0.5fr;
      gap: $spacing-24;
    }

    h1 {
      color: $orange;
      font-family: $font-inter;
      font-weight: 900;
      @include fontSize(h4);

      @include tablet() {
        @include fontSize(h3);
      }

      @include desktop() {
        @include fontSize(h1);
      }
    }

    h2 {
      color: $orange;
    }

    .left {
      display: grid;

      h2 {
        padding-block: $spacing-32;
      }

      .details {
        ul {
          display: grid;
          gap: $spacing-16;
          border-bottom: $orange dashed $border-xsmall;
          padding-block: $spacing-48;
          text-transform: capitalize;

          @include tablet() {
            grid-template-columns: 1fr 1fr;
          }

          @include desktop() {
            grid-template-columns: 1fr 1fr 1fr;

            &:not(:first-of-type) li:not(:first-child) {
              grid-column: span 2;
            }
          }

          &:first-of-type {
            padding-top: 0;
          }

          li {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            gap: $spacing-8;
            color: $black;

            div {
              display: flex;
              gap: $spacing-4;
            }

            span {
              font-weight: 300;
              font-family: $font-inter;
              @include fontSize(tag);
              line-height: normal;

              &.platform-badge {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                gap: $spacing-8;
              }
            }
          }
        }
      }

      .about {
        display: grid;
        border-bottom: $orange solid $border-xsmall;
        padding-bottom: $spacing-48;

        p {
          white-space: pre-line;
          color: $black;
        }
      }

      .read {
        display: grid;
        margin-bottom: $spacing-32;

        @include tablet() {
          margin-bottom: 0;
        }

        p {
          color: $black;
        }

        ul {
          display: grid;
          gap: $spacing-16;
          padding-left: $spacing-32;
          list-style: square;
        }
      }
    }

    .right {
      position: sticky;
      top: $spacing-64 + $spacing-24;
      height: fit-content;
      border-radius: $border-xlarge;
      background-color: $orange;
      color: $white;

      .top {
        padding: $spacing-32;
        display: grid;
        gap: $spacing-24;

        h2 {
          flex-wrap: wrap;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $white;
          font-family: $font-inter;
          font-weight: 900;
        }

        p {
          text-align: center;
          font-weight: 500;
        }
      }

      .bottom {
        border-top: $white solid $border-xsmall;
        display: flex;

        li {
          width: 100%;

          &:first-of-type {
            border-right: $white solid $border-xsmall;
          }

          button {
            width: 100%;
            padding: $spacing-32;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $spacing-24;
            color: $white;

            span {
              font-family: $font-vcr;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
